div.panel.panel-primary {
  border-width: 1px;
  border-color: #ddd;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form.form-inline {
  margin-bottom: 0px;
}

li.list-group-item {
  height: 56px;
}

.form-group input.item-name {
  width: 295px;
}


.form-group .input-group input.item-price {
  width: 100px;
}

div.display-title {

}

span.edit-title {
  display: none;
}

div.display-item {

}

div.edit-item {
  display: none;
}

div.panel-footer {
  background-color: #fff;
}

span.badge.price {
  float: right;
  font-size: 20px;
  font-family: lato;
}

div.well {
  background-color: #F7F2F4;
}

div.item-title {
  display: inline-block;
  font-family: lato;
  font-size: 20px;
}

div.display-title {
  font-family: lato;
}

div.panel-heading.title {
  background-color: #BD0023;
}

.btn.btn-primary {
  background-color: #242424;
}

.glyphicon.glyphicon-pushpin {
  text-shadow: .25px .25px .25px #000;
  color: #BD0023;
}

@media (max-width: 770px) {
  .form-group input.item-name {
    width: 100%;
  }


  .form-group .input-group input.item-price {
    width: 100%;
  }
}
