
<!--
   To change this template, choose Tools | Templates
   and open the template in the editor.
   -->
<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta charset="UTF-8"/>
      <title>List Ninja Login and signup - CodePen</title>
      <meta name="robots" content="noindex"/>
      <link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/64754/bootstrap.min.css'/>
      <link rel="stylesheet" href="assets/stylesheets/index.css" media="screen" type="text/css" />
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>

   </head>
   <body>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/64754/bootstrap.js'></script>
      <script src="assets/javascripts/index.js"></script>
      <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="brand" href="#"><img class="logo img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/64754/ninjahead40x40.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Invest</a></li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
             <div id="status">
                <div class="col-sm-8">
                   <img id="logo" class="img-responsive logo" src="assets/images/list-ninja.png" />
                </div>

                <div class="col-sm-4">
                  <div class="login-container">
                    <h1>Login with Facebook</h1>
                    <div id="fb-button" class="fb-login-button btn" data-max-rows="1" data-size="xlarge" data-show-faces="true" onlogin="dashboard_page()" data-auto-logout-link="true"></div>
                  </div>
                </div>
             </div>
          </div>
        </div>
      </div>
    </body> 
</html>